.img-card {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
}

.resultTable {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;   
}

.table {
    border: 1pt solid;
}

.center {
    text-align: center;    
}

.searchinput {
    margin-bottom: 10px;
}

.card {
    margin: auto;
    margin-top: 15px;
}

.menu_pricipal .nav-item{
    margin-bottom: 10px !important;
    margin-right: 10px;
}
.content{
    margin-top: 80px;
    margin-bottom: 50px;
}
 
.footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    line-height: 40px;
    color: #FFF;
    background: #343a40;
    text-align: center;
    font-size: 12px !important;
}
 
/* MENU MOBILE */
 
body{position:relative}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:0;right:0;margin:auto;background-color:rgba(0,0,0,0);z-index:-10;transition:all ease 0.2s}
.overlay.open{left:0;right:0;background-color:rgba(0,0,0,.5); z-index: 998}
.sidebarNavigation{ position: fixed; top:0px; width: 100%; margin-bottom:0;z-index:999;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:10px;order:-1}
.sideMenu{left:-100%;top:72px; height: 100%; transition:all ease 0.8s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block; overflow-y:auto;}
.sideMenu ul{margin:0;padding:0 15px}